@{
    Layout = null;
}
<script src="~/assets/js/vendor/jquery-2.2.4.min.js"></script>
<style>
    /***********  css for moving gradient colors in bg  **************/
    @@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

    .bg {
        top: 0;
        bottom: 0;
        margin: 0;
        height: 100%;
        animation: slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, #fff 50%, #000000 50%);
        left: -50%;
        opacity: .5;
        position: fixed;
        right: -50%;
        z-index: -1;
    }

    .bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 4s;
    }

    .bg3 {
        animation-duration: 5s;
    }

    .content {
        background-color: rgba(255,255,255,.8);
        border-radius: .25em;
        box-shadow: 0 0 .25em rgba(0,0,0,.25);
        box-sizing: border-box;
        left: 50%;
        padding: 10vmin;
        position: fixed;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        font-family: monospace;
    }

    @@keyframes slide {
        0% {
            transform: translateX(-25%);
        }

        100% {
            transform: translateX(25%);
        }
    }

    /********* Container of center div*********/
    :root {
        --white: #f5f5f5;
        --gray: #000;
        --blue: #0095ff;
        /* --lightblue: #000000bf;*/
        --button-radius: 0.7rem;
        --max-width: 758px;
        --max-height: 420px;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
    }

    .bg-img {
        /*background: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");*/
        left: 23%;
        top: 70px;
    }

    .form__title {
        font-weight: 300;
        margin: 0;
        margin-bottom: 1.25rem;
    }

    .link {
        color: var(--gray);
        font-size: 0.9rem;
        margin: 1.5rem 0;
        text-decoration: none;
    }

    .container {
        background-color: var(--white);
        border-radius: var(--button-radius);
        box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25), 0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
        height: var(--max-height);
        max-width: var(--max-width);
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .container__form {
        height: 100%;
        position: absolute;
        top: 0;
        transition: all 0.6s ease-in-out;
    }

    .container--signin {
        left: 0;
        width: 50%;
        z-index: 2;
    }

    .container.right-panel-active .container--signin {
        transform: translateX(100%);
    }

    .container--signup {
        left: 0;
        opacity: 0;
        width: 50%;
        z-index: 1;
    }

    .container.right-panel-active .container--signup {
        animation: show 0.6s;
        opacity: 1;
        transform: translateX(100%);
        z-index: 5;
    }

    .container__overlay {
        height: 100%;
        left: 50%;
        overflow: hidden;
        position: absolute;
        top: 0;
        transition: transform 0.6s ease-in-out;
        width: 50%;
        z-index: 100;
    }

    .container.right-panel-active .container__overlay {
        transform: translateX(-100%);
    }

    .overlay {
        background-color: var(--lightblue);
        /*background: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");*/
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        left: -100%;
        position: relative;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
        width: 200%;
    }

    .container.right-panel-active .overlay {
        transform: translateX(50%);
    }

    .overlay__panel {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        position: absolute;
        text-align: center;
        top: 0;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
        width: 50%;
    }

    .overlay--left {
        transform: translateX(-20%);
    }

    .container.right-panel-active .overlay--left {
        transform: translateX(0);
    }

    .overlay--right {
        right: 0;
        transform: translateX(0);
    }

    .container.right-panel-active .overlay--right {
        transform: translateX(20%);
    }

    .btn {
        background-color: var(--blue);
        background-image: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 74%);
        border-radius: 20px;
        border: 1px solid var(--blue);
        color: var(--white);
        cursor: pointer;
        font-size: 0.8rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        padding: 0.9rem 4rem;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }

    .form > .btn {
        margin-top: 1.5rem;
    }

    .btn:active {
        transform: scale(0.95);
    }

    .btn:focus {
        outline: none;
    }

    .form {
        background-color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 3rem;
        height: 100%;
        text-align: center;
    }

    .input {
        background-color: #fff;
        border-color: snow;
        padding: 0.9rem 0.9rem;
        outline: none;
        margin: 0.5rem 0;
        border-radius: 15px;
        width: 100%;
        box-shadow: 0 0 15px 6px rgb(0 0 0 / 15%);
        font-family: inherit;
    }

        .input:hover, .input:focus-visible {
            border-color: #6e00ff9e;
            transition: .3s border-color;
        }

    @@keyframes show {
        0%,
        49.99% {
            opacity: 0;
            z-index: 1;
        }

        50%,
        100% {
            opacity: 1;
            z-index: 5;
        }
    }
</style>

<style>
    @@import "compass";
    @@import url('https://fonts.googleapis.com/css?family=Open+Sans');


    .grop-from {
        width: 360px;
        height: 70px;
        background: #fff;
        position: fixed;
        left: 50%;
        top: 50%;
    }

        .grop-from .form-body {
            height: 70px;
            overflow: hidden;
        }

            .grop-from .form-body .error-text {
                position: absolute;
                left: 80px;
                top: 4px;
                z-index: 25;
                color: #b71c1c;
                font-size: 10px;
                font-weight: 600;
                display: none;
            }

            .grop-from .form-body .form-controls {
                position: relative;
                z-index: 5;
                top: 0;
            }

                .grop-from .form-body .form-controls input {
                    display: block;
                    width: 100%;
                    height: 70px;
                    padding: 10px 60px 10px 80px;
                    font-size: 18px;
                    color: #666;
                    border: none;
                }

                    .grop-from .form-body .form-controls input:focus {
                        outline: none;
                    }

        .grop-from .form-head {
            position: absolute;
            left: 0;
            top: 0;
            width: 70px;
            height: 100%;
            background: #f50057;
            text-align: center;
            line-height: 70px;
            font-size: 22px;
            color: #fff;
            cursor: pointer;
            z-index: 40;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        }

            .grop-from .form-head .text {
                display: none;
            }

                .grop-from .form-head .text:before {
                    font-family: 'Open Sans', sans-serif;
                }

        .grop-from .form-action {
            position: absolute;
            width: 50px;
            height: 50px;
            background: #fefefe;
            text-align: center;
            right: 10px;
            top: 50%;
            z-index: 50;
            cursor: pointer;
            border: none;
            outline: none;
            color: inherit;
        }

            .grop-from .form-action:hover {
                background: #f9f9f9;
            }

            .grop-from .form-action .icon-action:after {
                line-height: 50px;
                content: 'arrow_forward';
            }

        .grop-from .icon-placeholder {
            font-size: 40px;
            line-height: 70px;
        }

        .grop-from#signup {
            color: #fff;
        }

            .grop-from#signup .form-head {
                width: 100%;
            }

                .grop-from#signup .form-head .icon-placeholder {
                    display: none;
                }

                .grop-from#signup .form-head .text {
                    display: block;
                }

                    .grop-from#signup .form-head .text:before {
                        content: 'Sign Up';
                    }

            .grop-from#signup .form-action {
                right: 100px;
                background: none;
                line-height: 65px;
            }

        .grop-from#success {
            color: #fff;
        }

            .grop-from#success .form-head {
                width: 100%;
                background: #00e676;
            }

                .grop-from#success .form-head .icon-placeholder {
                    display: none;
                }

                .grop-from#success .form-head .text {
                    display: block;
                }

                    .grop-from#success .form-head .text:before {
                        content: 'Success';
                    }

            .grop-from#success .form-action {
                right: 90px;
                background: none;
                line-height: 65px;
            }

                .grop-from#success .form-action .icon-action:after {
                    content: 'mood';
                }

        .grop-from#name {
            color: #9c27b0;
        }

            .grop-from#name .form-head {
                background: #9c27b0;
            }

                .grop-from#name .form-head .icon-placeholder:after {
                    content: 'face';
                }

        .grop-from#phone {
            color: #009688;
        }

            .grop-from#phone .form-head {
                background: #009688;
            }

                .grop-from#phone .form-head .icon-placeholder:after {
                    content: 'phone';
                }

            .grop-from#phone .form-body .form-controls {
                top: -70px;
            }

        .grop-from#email {
            color: #039be5;
        }

            .grop-from#email .form-head {
                background: #039be5;
            }

                .grop-from#email .form-head .icon-placeholder:after {
                    content: 'mail_outline';
                }

            .grop-from#email .form-body .form-controls {
                top: -140px;
            }

        .grop-from#password {
            color: #37474f;
        }

            .grop-from#password .form-head {
                background: #37474f;
            }

                .grop-from#password .form-head .icon-placeholder:after {
                    content: 'lock_outline';
                }

            .grop-from#password .form-body .form-controls {
                top: -210px;
            }

        .grop-from#password-repeat {
            color: #212121;
        }

            .grop-from#password-repeat .form-head {
                background: #212121;
            }

                .grop-from#password-repeat .form-head .icon-placeholder:after {
                    content: 'lock';
                }

            .grop-from#password-repeat .form-body .form-controls {
                top: -280px;
            }

        .grop-from.error .form-head {
            background: #b71c1c !important;
        }

            .grop-from.error .form-head .icon-placeholder:after {
                content: 'close' !important;
            }

        .grop-from.error .form-body .form-controls input input-placeholder {
            color: #b71c1c;
        }

        .material-icons, .grop-from .form-action .icon-action, .icon-placeholder {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            /* Preferred icon size */
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            font-feature-settings: 'liga';
        }
</style>


<div class="main-container">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>

    <div class="container bg-img right-panel-active" style="background-color: transparent;">
        <!-- Sign Up -->
        <div class="container__form container--signup">
            <form action="#" class="form" id="form1">
                <h2 class="form__title">Sign Up</h2>
                <input type="text" placeholder="User" class="input" />
                <input type="email" placeholder="Email" class="input" />
                <input type="password" placeholder="Password" class="input" />
                <button class="btn">Sign Up</button>
            </form>
        </div>

        <!-- Sign In -->
        <div class="container__form container--signin">
            <form action="#" class="form" id="form2">
                @*<h2 class="form__title">Sign In</h2>
                    <input type="email" placeholder="Email" class="input" />
                    <input type="password" placeholder="Password" class="input" />
                    <a href="#" class="link">Forgot your password?</a>*@

                <form class="grop-from" id="signup">
                    <div class="form-head"><span class="text"> </span><i class="icon-placeholder"></i></div>
                    <div class="form-body">
                        <span class="error-text">Please Fill Out This Field</span>
                        <div class="form-controls"><input id="control-name" placeholder="Name" /><input id="control-phone" placeholder="Phone No" /><input id="control-email" placeholder="Email" /><input id="control-password" placeholder="Password" type="password" /><input id="control-password-repeat" placeholder="Confirm Password" type="password" /></div>
                    </div><a class="form-action"><i class="icon-action"></i></a>
                </form>

                <button class="btn">Sign In</button>
            </form>
        </div>

        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn">Sign In</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    /******** FORM SWITCH JS START *************/
    const signInBtn = document.getElementById("signIn");
    const signUpBtn = document.getElementById("signUp");
    const fistForm = document.getElementById("form1");
    const secondForm = document.getElementById("form2");
    const container = document.querySelector(".container");

    signInBtn.addEventListener("click", () => {
        container.classList.remove("right-panel-active");
    });

    signUpBtn.addEventListener("click", () => {
        container.classList.add("right-panel-active");
    });

    fistForm.addEventListener("submit", (e) => e.preventDefault());
    secondForm.addEventListener("submit", (e) => e.preventDefault());

    /******** FORM SWITCH JS END *************/

    $('.form-head').click(function () {

        if ($(this).closest('.grop-from').attr('id') == 'signup') {
            $('.grop-from').attr('id', 'name');
            $('.icon-action').addClass('back');
        }
        else if ($(this).closest('.grop-from').attr('id') == 'success') {
            $('.grop-from').attr('id', 'signup');
            $('input').val('');
        }

    });





    $('.form-action').click(function () {

        var form_id = $('.grop-from').attr('id');
        $('.icon-action').addClass('back');

        if ($('#control-' + form_id).val() != '') {
            switch (form_id) {
                case 'name':
                    form_id = "phone";
                    break;
                case "phone":
                    form_id = "email";
                    break;
                case "email":
                    form_id = "password";
                    break;
                case "password":
                    form_id = "password-repeat";
                    break;
                case "password-repeat":
                    form_id = "success";
                    break;
                case "success":
                    form_id = "signup";
                    break;
            }
            $('.icon-action').addClass('back');

        }

        else {

            switch (form_id) {
                case 'name':
                    form_id = "signup";
                    $('.icon-action').removeClass('back');
                    break;
                case "phone":
                    form_id = "name";
                    break;
                case "email":
                    form_id = "phone";
                    break;
                case "password":
                    form_id = "email";
                    break;
                case "password-repeat":
                    form_id = "password";
                    break;
                case "success":
                    form_id = "signup";
                    break;
            }
            $('.icon-action').removeClass('back');
        }

        $('.grop-from').attr('id', form_id);

    });

    $('input').keyup(function () {
        $('.grop-from').removeClass('error');
        $('.error-text').fadeOut();

        if ($(this).val() != '') {
            $('.icon-action').removeClass('back');
        }
        else {
            $('.icon-action').addClass('back');
        }


    });

</script>
